[Unit]
Description=HTTP Check and Restart Service

[Service]
Type=oneshot
ExecStart=/opt/bingo/check_and_restart_bingo.sh

[Install]
WantedBy=multi-user.target
